.alignedBtnsGroup {
	display: flex;
	align-items: baseline;
	gap: 15px;
}

.alignedBtns {
	display: inline-flex;
	align-items: baseline;
	justify-content: space-between;
	width: 100%;
	gap: 15px;
}

.roleBtns {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 2rem;
}

.roleFields {
	overflow: hidden;
	max-height: 0;
	opacity: 0;
	transition: all 0.5s ease;
}

.roleFields.show {
	max-height: 500px;
	opacity: 100;
}
