footer {
	width: 100%;
	background-color: var(--darkGreen);
	color: white;
	text-align: center;
	padding: 2% 0;
}

header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 80px;
	padding: 0 2rem;
	background-color: var(--darkGreen);
	color: white;
}

nav a {
	margin: 0 2rem;
	color: white;
	text-decoration: none;
}

nav a:hover {
	color: darkgrey;
}

header .nav-btn {
	padding: 5px;
	background: transparent;
	border: none;
	outline: none;
	color: white;
	visibility: hidden;
	opacity: 0;
	font-size: 1.8rem;
}

@media only screen and (max-width: 1024px) {
	header .nav-btn {
		visibility: visible;
		opacity: 1;
	}
	header nav {
		position: fixed;
		top: 0;
		left: 0;
		height: 100%;
		width: 50%;
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 1.5rem;
		background-color: var(--darkGreen);
		transition: 1s;
		transform: translateX(-100vh);
		flex-direction: column;
	}
	header .responsive_nav {
		transform: none;
	}

	nav .nav-close-btn {
		position: absolute;
		top: 2rem;
		left: 2rem;
	}

	nav a {
		font-size: 1.5rem;
	}
}
