body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
		'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
		'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

.customBody {
	margin: 0 5%;
	padding: 2%;
	min-height: 80vh;
}

.error {
	color: red;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

:root {
	--darkGreen: #3e5622;
	--lightGreen: #c5d86d;
	--brown: #86615c;
	--light: #ffeddf;
	--black: #0d1321;
	--grey: #a2a2a2;
	--lightGrey: #d2d2d2;
}
