@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

body {
	margin: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

.customBody {
	margin: 0 5%;
	padding: 2%;
	min-height: 80vh;
}

.error {
	color: red;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'DM Sans', sans-serif;
}

:root {
	--darkGreen: #3e5622;
	--lightGreen: #c5d86d;
	--brown: #86615c;
	--light: #ffeddf;
	--black: #0d1321;
	--grey: #a2a2a2;
	--lightGrey: #d2d2d2;
	--lightertGrey: #dfdfdf;
}

.btn_primary {
	background-color: var(--darkGreen);
}

html,
body,
#root {
	height: 100%;
	margin: 0;
}

#root {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.main-content {
	flex: 1;
}

.footerDiv {
	display: inline-flex;
	width: 90%;
	justify-content: space-between;
}
