.helper {
	color: var(--grey);
	font-size: 1rem;
}

.customBody img {
	width: 12rem;
	border: 2px solid var(--darkGreen);
	margin-right: 2rem;
	border-radius: 5px;
}

.inlineDivStart {
	display: flex;
	align-items: flex-start;
}

.inlineDivCenter {
	display: flex;
	align-items: center;
}

.userTitle {
	justify-content: space-between;
	width: 60rem;
}

#settingsBtn {
	width: 12rem;
	margin-top: 1rem;
	border-radius: 5px;
	padding: 0.5rem;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 0.5rem;
	transition: all 0.2s ease;
}

.iconWithText {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	gap: 0.5rem;
}
.iconWithText p {
	margin: 0;
	font-size: 0.9rem;
}
