.helper {
	color: var(--grey);
	font-size: 1rem;
}

.customBody img {
	width: 12rem;
	border: 2px solid var(--darkGreen);
	margin-right: 2rem;
	border-radius: 5px;
}

.inlineDivStart {
	display: flex;
	align-items: flex-start;
}

.inlineDivCenter {
	display: flex;
	align-items: center;
}

.userTitle {
	justify-content: space-between;
	width: 60rem;
}

.settingsBtn {
	width: 12rem;
	margin-top: 1rem;
	border-radius: 5px;
	padding: 0.5rem;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 0.5rem;
	transition: all 0.2s ease;
}

.iconWithText {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	gap: 0.5rem;
}
.iconWithText p {
	margin: 0;
	font-size: 0.9rem;
}

.btnIcon {
	margin-right: 0.5rem;
	font-size: 1.2rem;
}

#reviewForm div.field {
	margin-bottom: 1rem;
}

#reviewForm label {
	margin-right: 1rem;
}

.radioList label {
	display: block;
	margin: 0.2rem 0;
}

.radioList input {
	margin-right: 0.2rem;
}

.reviewBlock p {
	margin-bottom: 0;
}

.reviewBlock .userInfo,
.reviewBlock .reviewInfo {
	width: 50%;
}

.reviewBlock .userInfo .userName {
	font-size: 1.5rem;
}

.reviewActions .icon {
	margin-right: 0.5rem;
	cursor: pointer;
}

.form-row {
	display: grid;
	grid-template-columns: 150px 1fr;
	gap: 1rem;
	margin-bottom: 1rem;
	align-items: center;
}

.form-row input {
	width: 90%;
}

button.btnWithIcon {
	display: flex;
	align-items: center;
	gap: 8px;
}

.alignedButtons {
	margin-bottom: 2rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.categoryOption {
	background-color: var(--lightGrey);
	padding: 0.5rem;
	border-radius: 10px;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.serviceOption {
	padding: 0.5rem;
	border-radius: 10px;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: var(--lightertGrey);
}

.categoryOptionDiv {
	margin-bottom: 2rem;
}

.categoryIcon {
	font-size: 1.5rem;
}

.allServices {
	margin-left: 0.5rem;
	padding: 0.5rem;
}

.jobEntriesList {
	background-color: #f8f6f6;
	margin-left: 0.5rem;
	padding: 0.5rem;
	border-radius: 10px;
}

.jobEntryTitle {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
